.header {
  /* color: #a1360a; */

  margin: 1rem 0 0 0;

  font-size: clamp(20px, 4vw, 32px);
  font-weight: bold;
  font-display: swap;
  text-align: center;

  color: #fff;
}

.subheader {
  margin: 0.5vmin 0 1.2vmin 0;
  padding: 0 2vmin;

  font-size: var(--font-size-2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;

  text-align: center;

  /* color: var(--grey-8); */
  color: var(--grey-2);
}
