.chart {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* max-height: 400px; */
  /* max-width: 90vw; */
  width: 90vw;
}

.barchart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vmin 0 0 0;
  /* padding: 0 2vmin 1vmin 2vmin; */
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 12px 2px rgba(0, 0, 0, 0.1);
}

.chartBubbleWrapper {
  margin: 1rem;
  padding: 1rem 0;

  background-color: #a9a9a9;
  border-radius: 10px;
  
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}