.quizPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
    width: 100vw; */

  font-family: "Open Sans", sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  font-weight: 600;
  font-display: swap;
  color: #fff;
}

.quizPage p {
  margin: 0 0 2vmin 0;
}

.headerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 2vmin 0;

  font-family: "Lato", sans-serif;
  background-color: #6f0f47da;
}
.header {
  font-size: clamp(24px, 4vw, 42px);
}

.headerSection p {
  margin: 1vmin 0 0 0;
  font-size: clamp(18px, 2vw, 28px);
  font-weight: 400;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* margin: 1vmin 0; */
  padding: 3vmin 5vmin;

  text-align: center;

  background-color: #fff;
  /* background-color: rgba(55, 55, 55, 0.8); */
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
  -webkit-box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.5);

  /* border-radius: 10px; */
}

.questionContainer h2 {
  font-size: clamp(24px, 3vw, 28px);
  color: #96074e;
}

.questionContainer p {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 400;
  font-style: italic;
  color: #000;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vmin 2vmin;

  color: #000;
  /* font-style: italic; */

  text-align: start;
}

.answers:hover {
  color: #1aedcd;
  cursor: pointer;
}

.next {
  padding: 1vmin 2vmin;
  margin: 1vmin 0;
  color: #fff;
  background-color: #d44e17;
  border-radius: 10px;
  border: 1px solid #fff;
}

.next:hover {
  color: #d44e17;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d44e17;
  cursor: pointer;
}

.feedback {
  padding: 1vmin 4vmin;
  margin: 1vmin 0;
  /* background-color: green; */
  border-radius: 10px;
}

.explanation {
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 400;
    font-style: italic;
    color: #000;
}

.results {
  font-size: clamp(24px, 3vw, 28px);
  color: #000;
  text-align: center;
}

.correct {
  color: #fff!important;
  background-color: #bfe6ab;
}

.incorrect {
  color: #fff;

  background-color: #975151;
}
