.item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  /* margin: 1rem; */
  /* padding: 0.2rem .5rem; */
  width: 270px;
  /* height: 75px;

  /* background: rgba(255, 255, 255, 0.57); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* background-color: white; */
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  /* border-radius: 8px; */

  /* background: rgb(181,6,50); */
  /* background: linear-gradient(0deg, rgba(181,6,50,1) 0%, rgba(181,6,50,0.7539390756302521) 35%, rgba(0,212,255,0) 100%); */
  overflow: hidden;
}

.item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;

  font-family: var(--font-lato);
  font-size: var(--font-size-5);
  font-weight: 600;

  /* color: #2A5B75; */
}


.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  z-index: 10;
}

.image {
  /* background: linear-gradient(0deg, rgba(181,6,50,1) 0%, rgba(181,6,50,0.7539390756302521) 35%, rgba(0,212,255,0) 100%); */
  object-fit: cover;
  width: 100%;
  z-index: 5;
}

.redGrapeColor {
  color: white;
  background-color: var(--red-8);
  border: 1px solid #fff;
}

.redGrapeColor:hover {
  color: var(--red-8);
  background-color: var(--white);
  border: 1px solid #fff;
  transition: 0.3s;
}

.whiteGrapeColor {
  color: var(--grey-9);
  /* background-color: var(--red-3); */
  background-color: #f4d2a5;
  border: 1px solid white;
}

.whiteGrapeColor:hover {
  color: var(--red-3);
  background-color: var(--grey-9);
  /* color: #4fb9f3;
  background-color: var(--white); */
  border: 1px solid var(--red-3);
  transition: 0.3s;
}
