.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmin 0;
  background-color: #f0f0f0;
  position: relative;

  font-family: "Jost", sans-serif;

  z-index: 20;
}

.brand {
  /* margin: 1vw ; */
  padding: 0 0 0 5vw;
  font-family: "Jost", sans-serif;
  font-size: clamp(24px, 4vw, 36px);
  font-weight: 600;
  font-display: swamp;
  text-decoration: none;

  color: #a10101;
}

.sitebeta {
  position: relative;
  top: -10px;
  padding: 0 0 0 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0 2vmin;

font-family: var(--font-lato);
  font-size: clamp(18px, 1.5vw, 24px);
  font-weight: 400;
  list-style: none;

  color: #a10101;
}

.listitem {
  padding: 0 2vmin;

  cursor: pointer;
}

.listitem:hover {
  color: #e04090;
  text-decoration: underline;
}

.dataVisualization {
  cursor: pointer;
}

.drawer {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 5;

  transition: 0.4s;
}

.drawerlink {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0 2vmin;

font-family: var(--font-lato);
  font-size: clamp(18px, 1.5vw, 24px);
  font-weight: 400;
  text-decoration: none;
  
  color: #a10101;
}

.drawercontent {
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  border-top: 1px solid #a10101;
  /* padding: 0 1rem; */
  background-color: #f0f0f0;

  padding: 1vmin 2vmin 1vmin 0;
}

.drawer-enter {
  max-height: 0;
}

.drawer-enter-active {
  max-height: 100px;
  transition: max-height 1s ease-in;
}

.drawer-exit {
  max-height: 100px;
}

.drawer-exit-active {
  max-height: 0;
  transition: max-height 1s ease-out;
}

.drawerClose {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  margin: 0 0 0 2vmin;

  padding: 1vmin 2vmin;

  font-family: "Open Sans", sans-serif;
  font-size: clamp(18px, 1vw, 24px);
  font-weight: 200;
  text-decoration: none;

  color: #555;

  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;

  transform: opacity 0.5s ease-in;
}

.drawerClose:hover,
.drawerClose:focus {
  color: var(--white);
  background-color: #555;

  border: 1px solid #fff;
  opacity: 0.8;
  transition: 0.3s;
}

/* .close {
  position: absolute;
  top: 10px;
  right: 10px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  text-decoration: none;
  border: 1px solid #a10101;
  cursor: pointer;

  transform: opacity 0.5s ease-in;
} */

.close:hover {
  opacity: 0.8;
  transition: 0.3s;
  transform: hue-rotate(180deg);
}
