.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1vh 0;
    
    color: #fff;
    border-bottom: 1px solid #e6e6e6;
    background-color: rgb(161, 1, 1);

    text-decoration: none;

    font-family: 'Jost', sans-serif;
    font-size: clamp(18px, 4vw, 48px);
    font-weight: bold;
    font-display: swap;
}