.mastheadContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 300px;
  padding: 0;

  background-size: cover;
  background-position: center;
}

.mastheadHeader {
  /* font-family: "Jost", sans-serif; */
  font-family: "Sao Display", serif;
  font-size: clamp(2rem, 4vw, 4rem);
  font-style: italic;
  font-weight: 600;

  color: #faf9b8;
}
.mastheadTextContainer {
  margin-right: 10%;
  margin-top: 2vmin;
  padding: 2vw 2vw 2vw 4vw;

  text-align: left; 

  color: var(--white);
  background-color: var(--pink-9-transparent);
  /* background-color: rgba(111, 15, 71, 0.853); */
}

.mastheadText {

  font-family: 'Inter', sans-serif;
  font-size: clamp(18px, 5vw, 32px);
  line-height: clamp(22px, 7vw, 36px);

  font-weight: 400;
  /* text-shadow: 2px 2px 2px rgba(25, 24, 24, 0.85); */
  text-align: left;

  color: var(--white);

}

@media (min-width: 768px) {
  .mastheadContainer {

    width: 100%;
    height: 450px;
    /* padding-top: 50px; */
  }

  /* .mastheadOverlay {
    width: 100%;    
  } */

  .mastheadTextContianer {
    margin-right: 40%;
    margin-top: 5vmin;
    padding: 2vw 2vw 2vw 4vw;
    
  }
}
