.mastheadContainer {
  /* height: 10vmin; */
  width: 100%;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.mastheadHeader {
  font-family: "Jost", sans-serif;
  font-size: clamp(2rem, 3.5vw, 4rem);
  font-style: italic;
  font-weight: 600;

  color: #faf9b8;
}
.mastheadText {
  margin-right: 40%;
  margin-top: 5vmin;
  padding: 2vw 2vw 2vw 4vw;

  /* color: white; */
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 400;
  /* text-shadow: 2px 2px 2px rgba(25, 24, 24, 0.85); */
  text-align: left;

  color: var(--white);
  background-color: var(--pink-9);
  /* background-color: rgba(111, 15, 71, 0.853); */
}

@media (max-width: 768px) {
  .mastheadContainer {
    height: 300px;
    padding-top: 50px;
  }

  .mastheadOverlay {
    padding: 20px;
  }

  .mastheadHeader {
    font-size: 2rem;
  }

  .mastheadText {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .mastheadContainer {
    height: 500px;
    /* padding-top: 50px; */
  }

  /* .mastheadOverlay {
    padding: 20px;
  }

  .mastheadHeader {
    font-size: 2rem;
  }

  .mastheadText {
    font-size: 1rem;
  } */
}
