.mastheadContainer {
  height: 10vmin;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* padding-top: 100px; */
  /* linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 1)); */

  /* object-fit: contain; */
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.mastheadOverlay {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* padding: 50px; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* max-width: 1200px;
    width: 100%;
    text-align: center; */
}

/* .mastheadHeader {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
   */
.mastheadText {
  margin-right: 40%;
  margin-top: 5vmin;
  padding: 2vw 2vw 2vw 4vw;

  /* color: white; */
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(25, 24, 24, 0.85);
  text-align: left;
  
  color: #fff;
  background-color: rgba(111, 15, 71, 0.853);
}

@media (max-width: 768px) {
  .mastheadContainer {
    height: 300px;
    padding-top: 50px;
  }

  .mastheadOverlay {
    padding: 20px;
  }

  .mastheadHeader {
    font-size: 2rem;
  }

  .mastheadText {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .mastheadContainer {
    height: 500px;
    padding-top: 50px;
  }

  /* .mastheadOverlay {
    padding: 20px;
  }

  .mastheadHeader {
    font-size: 2rem;
  }

  .mastheadText {
    font-size: 1rem;
  } */
}