.selectrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 0 1em 0;
}

.width50 {
    width: 150px;
}

/*************************************************** MEDIA QUERIES - LARGE SCREENS ******************************************************/
/* ********   ------------ ----------   --------     ------           --------   ----    ---- ------------ -----------  --------  ------------ ------------ 
----------  ************ ************ ********    ********         **********  ****    **** ************ ***********  ********  ************ ************ 
************ ----         --        --   ----     ----------       ----    ---- ----    ---- ----         ----    ---    ----    ----         ----         
---  --  --- ************ **        **   ****    ****    ****      ***      *** ****    **** ************ *********      ****    ************ ************ 
***  **  *** ------------ --        --   ----    ------------      ---   --  -- ----    ---- ------------ ---------      ----    ------------ ------------ 
---  --  --- ****         **        **   ****    ************      ****   ** ** ************ ****         ****  ****     ****    ****                ***** 
***  **  *** ------------ ------------ --------  ----    ----       ------ -- - ------------ ------------ ----   ----  --------  ------------ ------------ 
---      --- ************ **********   ********  ****    ****        ******* ** ************ ************ ****    **** ********  ************ *************/

@media (min-width: 768px) {
    .selectrow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 0 0 1em 0;
    }

}