.item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  /* width: 300px; */
  width: clamp(150px, 50vw, 200px);
  /* margin: 1rem; */
  padding: 0.2rem .5rem;

  color: white;
  background-color: #1269A1;
  border: 2px solid rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* -webkit-backdrop-filter: blur(5px); */
  /* background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.61); */
  /* border-radius: 8px; */
}

.item:hover {
  background-color: #053654;
  border-color: #1269A1;
  transition: 0.3s;
}

.item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align:center;

  font-size: clamp(16px, 3vw, 22px);
  font-family: Lato, sans-serif;
  font-weight: 600;
}

.item img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  /* object-position: center; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);

}

/* .item h2 {
  margin: 0.5rem 0 0 0;
  font-size: clamp(16px, 4vw, 24px);
  font-weight: 600;
  font-display: swap;
}

.content {
  width: 100%;
  padding: 0 1rem;
  text-align: left;
} */

.content h2 {
  /* margin: 0.2rem 0; */
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

/* .actions a {
  display: block;
  margin: 0 1rem;
}

.actions a span {
  vertical-align: middle;
}

.icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  width: 1.25rem;
  height: 1.25rem;
} */

@media (min-width: 768px) {
  /* .content {
      width: 60%;
      padding: 0;
      text-align: left;
    } */

  .content h2 {
    margin: 1rem 0;
  }

  .actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}
