
/* About Page */
.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3vw 5vw;

    height: 85vh;
    /* color: white; */
    font-size: clamp(18px, 2vw, 24px);
    text-align: left;

    color: var(--grey-8);
    background-color: var(--grey-2);
  }
  
  .aboutPage h1 {
    margin: 0;

    font-size: clamp(24px, 3vw, 32px);
    font-weight: 600;
    font-display: swap;
    text-align: center;

    color: var(--pink-9);
  }
  
  .aboutPage p {
    margin: 1vmin 0;
  }
  
  .aboutPage a {
    color: #0165a3;
    font-weight: 600;
  }
  
  .aboutPage a:hover {
    color: #96074e;
    text-decoration: underline;
  }