@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "reset.css";

/**************************** Global CSS variables ***************************************/

body,
html {
  /* background-color: #edf4f5; */
  /* background-color: #d8dbdb; */
  background-color: #e7e5d5;
}

#__next {
  flex: 1 0 auto;
}

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 0 100px 10px 100px;
  color: white;
  background-color: #969696;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);


  font-family: 'Lato', sans-serif;
}

.masthead h2 {
  /* color: #505050; */
  margin: 1rem 0 0 0;
  color: #e0de5a;

  
  font-size: clamp(16px, 4vw, 28px);
  font-weight: 600;
  font-display: swap;

  letter-spacing: 2px;
  text-align: center;
}

.masthead p {
  /* color: #505050; */
  text-align: center;
  margin: 2rem 0 0 0;

  font-size: clamp(16px, 3vw, 22px);
  font-weight: 400;
  font-display: swap;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin: 0;

  /* font-family: 'Lato', sans-serif; */
  font-family: "Open Sans", sans-serif;
}

main h1,
main .header {
  /* color: #000; */
  color: #A1360A;
  text-align: center;
  margin: 1rem 0 0 0;

  font-size: clamp(16px, 4vw, 32px);
  font-weight: bold;
  font-display: swap;
}

main a {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home__main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  margin: 2rem;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 10px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.transparent {
  filter: opacity(60%);
}

.dataSource {
  margin: 1rem 0 0 0;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.link {
  color: #4a948e;
}

.buttonFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.actions a {
  display: block;
  margin: 0 1rem;
}

.actions a span {
  vertical-align: middle;
}

.flagImage {
  margin: 1vmin 0 0 0;
  /* opacity: 0.8; */
  filter: saturate(0.6);
  /* filter:brightness() */
}

.tooltip {
  position: absolute;
  width: 60px;
  color: 3px red;
  font-style: bold;
  font-size: 20px;
  background-color: #222;
}

/* Charts */

/* placeholders */
.placeholder {
  background: #ecf0f1;
}

.Timeline {
  height: 300px;
  min-width: 500px;
  width: calc(100% + 1em);
  margin-bottom: 2em;
}

.Histogram {
  height: 500px;
  flex: 1;
  min-width: 500px;
  overflow: hidden;
}

.ScatterPlot {
  height: 500px;
  width: 500px;
  margin-right: 2em;
}

.App__charts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5em;
}

.Timeline,
.ScatterPlot,
.Histogram {
  background: white;
  padding: 0.6em 1em;
  margin: 0.5em;
}

svg {
  margin: 2vh 5vw;
  /* background: #eee; */
  overflow: visible;
}
