@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/******************************* END RESET ***************************************/

/**************************** Global CSS variables ***************************************/

body {
  /* background-color: #edf4f5; */
  /* background-color: #d8dbdb; */
  background-color: #e7e5d5;

}

/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* font-family: 'Lato', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

main h1,
main .header {
  /* color: #000; */
  color: #d34544;
  text-align: center;
  margin: 1rem 0 0 0;

  font-size: clamp(16px, 4vw, 32px);
  font-weight: bold;
  font-display: swap;
}

main a {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.dataSource {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.link {
  color: #4A948E;
}

.flagImage {
  margin: 1vmin 0 0 0;
}

.tooltip {
  position: absolute;
  width: 60px;
  color: 3px red;
  font-style: bold;
  font-size: 20px;
  background-color: #222;
}

/* Charts */

/* placeholders */
.placeholder {
  background: #ecf0f1;
}

.Timeline {
  height: 300px;
  min-width: 500px;
  width: calc(100% + 1em);
  margin-bottom: 2em;
}

.Histogram {
  height: 500px;
  flex: 1;
  min-width: 500px;
  overflow: hidden;
}

.ScatterPlot {
  height: 500px;
  width: 500px;
  margin-right: 2em;
}

.App__charts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5em;
}

.Timeline,
.ScatterPlot,
.Histogram {
  background: white;
  padding: 0.6em 1em;
  margin: 0.5em;
}

svg {
  margin: 2vh 5vw;
  /* background: #eee; */
  overflow: visible;
}
