@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "actions.css";
@import "reset.css";
@import "charts.css";
@import "select.css";
@import "homepage.css";
@import "aboutpage.css";
@import "stylingmodifiers.css";
@import "variables.css";

/**************************** Global CSS variables ***************************************/

html,
body {
  background-color: var(--grey-2);
}

/* General */

/* Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 85vh;
  margin: 0;

  background-color: var(--pink-9);

  font-family: var(--font-open-sans);
}

main a {
  font-size: 1.5rem;
  margin: 0.1rem 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0;
  padding: 1vmin 0 2vmin 0;

  font-family: var(--font-lato);

  background-color: var(--new-grey-12);
  -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}
.info h2 {
  margin: 1rem 0 0 0;

  font-family: "Inter", sans-serif;
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 600;
  font-display: swap;
  letter-spacing: 1px;
  text-align: center;
}

.alt {
  background-color: var(--new-grey-12);
}

.alt .header {
  color: #fff;
}

.alt2 {
  background-color: var(--new-grey-0);
}

.alt2 .header {
  color: var(--pink-8);
}

.alt2 .subheader {
  color: var(--grey-8);
}


.headline {
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 0 10vw 2vw 10vw;

  font-size: clamp(18px, 4vw, 24px);
  font-weight: 400;
  font-display: swap;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 0;

  font-size: clamp(16px, 4vw, 28px);
  font-weight: 600;
  font-family: var(--font-lato);
  font-display: swap;
  letter-spacing: 1px;

  color: var(--white);

  /* color: #fffd8d; */
}

.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* margin: 1rem 0 0 0; */
  margin: 0.7vmin 0 0.5vmin 0;
  padding: 0 3vmin;

  text-align: center;

  font-size: var(--font-size-6);
  font-weight: 400;
  font-display: swap;

  color: var(--grey-2);
}

.chartSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.chartfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--white);

  font-family: var(--font-open-sans);
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 600;
  font-display: swap;
}

.indexheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem 0 0 0;

  color: #fff;

  font-size: clamp(24px, 4vw, 32px);
  font-weight: bold;
  font-display: swap;
  text-align: center;
}

.dataSource {
  margin: 1rem 0 0 0;

  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  text-align: center;

  color: var(--grey-3);
}

.dataSource.light {
  color: var(--grey-1);
}
.dataSource:hover,
.dataSource:active {
  color: var(--blue-7);
  transition: 0.3s;
}

.link {
  color: var(--white);
  font-weight: 400;
}

/* Featured Section */

.featuredContainer {
  width: 100%;
  background-color: var(--new-grey-7);
}

.featuredHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem 0 0 0;

  font-size: var(--font-size-6);
  font-weight: 600;
  font-display: swap;

  color: #fff;
}

.buttonFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  font-weight: 700;
}

.stackedarea {
  margin: 1rem 0 0 0;
  position: "relative";
  width: "90%";
  height: "90%";
  background-color: "red";
}

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3vmin 0 0 0;
  padding: 0 10vw 2vw 10vw;

  font-size: clamp(18px, 4vw, 24px);
  font-weight: 600;
  font-display: swap;

  color: var(--grey-2)
  
}

/* Flag images */
.flagImage {
  margin: 2vmin 0 0 0;
}

.versus {
  padding: 0 2vmin;

  font-family: var(--font-lato);
  font-size: clamp(18px, 1.5vw, 24px);
  font-weight: 600;
  color: var(--grey-2);
}
.yAxisLabel {
  color: red;
  font-style: bold;
}
/*************************************************** MEDIA QUERIES - LARGE SCREENS ******************************************************/
/* ********   ------------ ----------   --------     ------           --------   ----    ---- ------------ -----------  --------  ------------ ------------ 
----------  ************ ************ ********    ********         **********  ****    **** ************ ***********  ********  ************ ************ 
************ ----         --        --   ----     ----------       ----    ---- ----    ---- ----         ----    ---    ----    ----         ----         
---  --  --- ************ **        **   ****    ****    ****      ***      *** ****    **** ************ *********      ****    ************ ************ 
***  **  *** ------------ --        --   ----    ------------      ---   --  -- ----    ---- ------------ ---------      ----    ------------ ------------ 
---  --  --- ****         **        **   ****    ************      ****   ** ** ************ ****         ****  ****     ****    ****                ***** 
***  **  *** ------------ ------------ --------  ----    ----       ------ -- - ------------ ------------ ----   ----  --------  ------------ ------------ 
---      --- ************ **********   ********  ****    ****        ******* ** ************ ************ ****    **** ********  ************ *************/


@media (min-width: 768px) {
  .subheader {
    margin: 0.7vmin 0 0.5vmin 0;
  }

  .buttonFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    font-weight: 700;
  }

  main a {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}
