/****************************  Home Page ***************************************/

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0;

  color: white;
  /* background-color: #656565; */
  /* background-color: #96074e; */
  /* background-color: var(--grey-8); */
  background-color: var(--new-grey-9);
  -webkit-box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 28px 0px rgba(0, 0, 0, 0.25);

font-family: var(--font-lato);
}

.homePageHeader {
  margin: 1rem 0 0 0;
  font-family: 'Inter', sans-serif;
  font-size: clamp(16px, 4vw, 28px);
  font-weight: 600;
  color: var(--white);
}
.homePage__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .homePage__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
