
/* Styling for modifying class styles */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .margin-bottom {
    margin-bottom: 1rem;
  }
  
  .transparent {
    filter: opacity(60%);
  }

  .moveUp {
    transform: translateY(-3rem);
  
    color: #fff;
  }


  
  .borderGrey {
    border: 1px solid rgba(255, 255, 255, 0.61);
  }